* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
}

/* mobile first - container flex vertical */
.container {
  color: #A0ACAD;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #33032f;
  padding: 10px;
}

aside {
  background-color: #531253;
  padding: 10px;
  grid-area: aside;
}

main {
  background-color: #A0ACAD;
  color: #33032f;
  padding: 10px;
  flex: 1; /* abreviação grow */
  grid-area: main;
}

div {
  padding: 10px;
  grid-area: links;
}

footer {
  background-color: #33032F;
  padding: 10px;
  grid-area: footer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* estilos a serem aplicados para telas com no mínimo 401px*/
@media only screen and (min-width: 401px) {

  .container {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 2fr 75vh 1fr;
    grid-template-areas: 
      'header header header'
      'aside main links'
      'footer footer footer';
  }

  header {
    grid-area: header;
  }

  * {
    font-size: large;
  }

}


@media only screen and (min-width: 768px) {

  * {
    font-size: x-large;
  }

}

@media (orientation: landscape) {
 
  * {
    color: black;
  }
  
}