body {
  height: 1200px;
}

form {
  padding: 20px 0;
}

input:focus {
  background-color: yellow;
}

a {
  font-size: 30px;
  font-weight: bold;
}

a:link  {
  color: rgb(28, 96, 243);
}

a:visited {
  color: rgb(231, 124, 24);
}

a:hover  {
  color: rgb(148, 12, 202);
}

a:active {
  color:rgb(17, 133, 7);
}

p:target {
  background-color: gold;
}

#p3::first-letter {
  color: red;
  font-size: 30px;
}

#p3::after{
  content: "Atenção aqui!";
  color: red;
}

button {
  background-color: red;
  color: white;
}

button:disabled {
  background-color: gray;
  color: white;
}
