* {
  margin: 0;
}

header {
  background-color: blueviolet;
  color: white;
  padding-top: 150px;
  border: 10px solid orangered;
  border-radius: 30px 80px 120px 150px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

h1, h2 {

}

