* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: larger;
  font-weight: bold;
}

/*grid container*/
body {
  color: #A0ACAD;
  display: grid;
  grid-template-columns: 200px 1fr 200px; /* 1a coluna com largura 200px, 2a coluna com largura 1 fração do espaço disponível, 3a coluna com largura 200px*/
  grid-template-areas: 
    'header header header'
    'links main aside'
    'footer footer footer';
}

header {
  background-color: #33032f;
  padding: 10px;
  height: 15vh; /*15% da altura da viewport (a área visível do navegador)*/
  grid-area: header;

}

main {
  background-color: #A0ACAD;
  color: #33032f;
  padding: 10px;
  height: 75vh;
  grid-area: main;
}

aside {
 background-color: #531253;
 padding: 10px;
 grid-area: aside;
}

div {
  padding: 10px;
  grid-area: links;
}

.rodape {
  background-color: #33032F;
  padding: 10px;
  height: 10vh;
  grid-area: footer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/**
DESAFIOS:
- acrescentar uma barra de navegação em uma nova linha: alterar o grid-template-areas
- trocar a aside e os related links de lado: alterar o grid-template-areas
- estender a barra asside do topo até o final da tela
- centralizar o conteúdo do header e do footer tanto horizontal quanto verticalmente
- transformar o main em um container para a nossa galeria de cards bacanas
*/
